@inherits BaseComponent<LoginComponent.Input>

<div class="auth-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="text-xs-center">Sign in</h1>
                <p class="text-xs-center">
                    <a href="/register">Need an account?</a>
                </p>
                <LoginFormComponent></LoginFormComponent>
            </div>
        </div>
    </div>
</div>


@code {
    public record Input;

}