@using RealworldBlazorHtmx.App.ServiceClient
@inherits BaseComponent<ArticleAuthor.Model>


@if (Props.Profile.Following)
{
    <button class="btn btn-sm action-btn btn-secondary" hx-delete="/article/followauthor/@Props.Profile.Username" hx-swap="outerHTML">
        <i class="ion-plus-round"></i>
        &nbsp; Unfollow @Props.Profile.Username
    </button>
}
else
{
    <button class="btn btn-sm btn-outline-secondary" hx-post="/article/followauthor/@Props.Profile.Username" hx-swap="outerHTML">
        <i class="ion-plus-round"></i>
        &nbsp; Follow @Props.Profile.Username
    </button>
}


@code {

    public record Model(Profile Profile) : BaseComponentProps;

}