@inherits BaseComponent<AppHead.Model>

<head>
    <meta charset="utf-8"/>
    <title>@Props.Title</title>
    <link
        href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
        rel="stylesheet"
        type="text/css"/>
    <link
        href="//fonts.googleapis.com/css?family=Titillium+Web:700|Source+Serif+Pro:400,700|Merriweather+Sans:400,700|Source+Sans+Pro:400,300,600,700,300italic,400italic,600italic,700italic"
        rel="stylesheet"
        type="text/css"/>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/preload.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <link rel="stylesheet" href="//demo.productionready.io/main.css"/>
    <link rel="stylesheet" href="/App.styles.css"/>
</head>

@code {
    public record Model(string Title) : BaseComponentProps;
}