@using RealworldBlazorHtmx.App.ServiceClient
@inherits BaseComponent<Settings.Model>

<div class="settings-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="text-xs-center">Your Settings</h1>
                

                <form>
                    <fieldset>
                        <fieldset class="form-group">
                            <input class="form-control" type="text" placeholder="URL of profile picture" value="@Props.User.Image"/>
                        </fieldset>
                        <fieldset class="form-group">
                            <input class="form-control form-control-lg" type="text" placeholder="Your Name" value="@Props.User.Username"/>
                        </fieldset>
                        <fieldset class="form-group">
                            <textarea
                  class="form-control form-control-lg"
                  rows="8"
                  placeholder="Short bio about you"
              ></textarea>
                        </fieldset>
                        <fieldset class="form-group">
                            <input class="form-control form-control-lg" type="text" placeholder="Email"/>
                        </fieldset>
                        <fieldset class="form-group">
                            <input
                                class="form-control form-control-lg"
                                type="password"
                                placeholder="New Password"/>
                        </fieldset>
                        <button class="btn btn-lg btn-primary pull-xs-right">Update Settings</button>
                    </fieldset>
                </form>
                <hr/>
                <button class="btn btn-outline-danger" hx-post="/settings/logout">Or click here to logout.</button>
            </div>
        </div>
    </div>
</div>

@code {

    public record Model(User User) : BaseComponentProps;

}