@inherits BaseComponent<ProfileComponent.Input>

<div class="profile-page">
    <div class="user-info">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 offset-md-1">
                    <img src="@Data.Profile.Image" class="user-img"/>
                    <h4>@Data.Profile.Username</h4>
                    <p>
                        @Data.Profile.Bio
                    </p>
                    @if (Data is {IsSelf: true})
                    {
                        <a href="/settings">
                            <button class="btn btn-sm btn-outline-secondary action-btn">
                                <i class="ion-gear-a"></i>
                                &nbsp; Edit Profile Settings
                            </button>
                        </a>
                    }
                    else
                    {
                    <ProfileFollowingComponent Data="@(new ProfileFollowingComponent.Input(Data.Profile))"></ProfileFollowingComponent>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 offset-md-1">
                <ArticlesComponent Data="new ArticlesComponent.Input(Data.IsAuthenticated, Data.Filter)"></ArticlesComponent>
            </div>
        </div>
    </div>
</div>

@code {

    public record Input(bool IsAuthenticated, ServiceClient.Profile Profile, ArticlesFilter Filter, bool IsSelf);

}