@inherits BaseComponent<Profile.Model>

<div class="profile-page">
    <div class="user-info">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 offset-md-1">
                    <img src="@Props.Profile.Image" class="user-img"/>
                    <h4>@Props.Profile.Username</h4>
                    <p>
                        @Props.Profile.Bio
                    </p>
                    @if (Props is {IsSelf: true})
                    {
                        <a href="/settings">
                            <button class="btn btn-sm btn-outline-secondary action-btn">
                                <i class="ion-gear-a"></i>
                                &nbsp; Edit Profile Settings
                            </button>
                        </a>
                    }
                    else
                    {
                    <ProfileFollowing Props="@(new ProfileFollowing.Model(Props.Profile))"></ProfileFollowing>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 offset-md-1">
                <Articles Props="new Articles.Model(Props.IsAuthenticated, Props.Filter)"></Articles>
            </div>
        </div>
    </div>
</div>

@code {

    public record Model(bool IsAuthenticated, ServiceClient.Profile Profile, ArticlesFilter Filter, bool IsSelf) : BaseComponentProps;

}