@inherits BaseComponent<App.Model>


<!DOCTYPE html>
<html lang="en">
<AppHead Props="new AppHead.Model(Props.Title)"/>
<body hx-ext="preload, json-enc" hx-boost="true">
@Props.Body
</body>
</html>



@code {

    public record Model(RenderFragment Body, string Title) : BaseComponentProps;

}