@inherits BaseComponent<App.Input>


<!DOCTYPE html>
<html lang="en">
<AppHeadComponent Data="@(new AppHeadComponent.Input(Data.Title))"/>
<body hx-ext="preload, json-enc" hx-boost="true">
@Data.Body
</body>
</html>



@code {

    public record Input(RenderFragment Body, string Title);

}