@inherits BaseComponent<HomeComponent.Input>

<div class="home-page">
    @if (!Data.IsAuthenticated)
    {
        <div class="banner">
            <div class="container">
                <h1 class="logo-font">conduit</h1>
                <p>A place to share your knowledge.</p>
            </div>
        </div>
    }

    <div class="container page">
        <div class="row">
            <div class="col-md-9">
                <ArticlesComponent Data="new ArticlesComponent.Input(Data.IsAuthenticated, Data.Filter)"></ArticlesComponent>
            </div>

            <div class="col-md-3">
                <div class="sidebar" hx-get="/home/tags" hx-trigger="load">Loading tags...</div>
            </div>
        </div>
    </div>
</div>

@code {

    public record Input(bool IsAuthenticated, ArticlesFilter Filter);

}