@inherits BaseComponent<TagsComponent.Input>

<div class="sidebar">
    <p>Popular TagsComponent</p>

    <div class="tag-list" id="taglist">
        @foreach (var tag in Data.Tags)
        {
            <a class="tag-default tag-pill" href="?page=1&tag=@tag">@tag</a>
        }
    </div>
</div>

@code {

    public record Input(List<string> Tags);

}