@inherits BaseComponent<EditorTags.Model>
<fieldset class="form-group" hx-trigger="keyup[keyCode==13]"
          hx-post="/editor/tags" hx-params="newTag,tags" id="tagsForm" hx-swap="outerHTML"
>
    <input type="text" class="form-control"
           placeholder="Enter tags"
           name="newTag"
    />

    <div class="tag-list">
        <input type="hidden" name="tags" value=""/>
        <input type="hidden" name="tags" value=""/>
        @foreach (var tag in Props.Tags)
        {
            <span class="tag-default tag-pill">
                <i class="ion-close-round" hx-delete="/editor/tags/@tag" hx-params="tags" hx-target="#tagsForm"></i>
                @tag
            </span>
            <input type="hidden" name="tags" value="@tag"/>
        }

    </div>
</fieldset>

@code {
    public record Model(List<string> Tags) : BaseComponentProps;
}